test.ipynb
.DS_Store
app/models/__pycache__/__init__.cpython-310.pyc
app/models/__pycache__/bracket_model.cpython-310.pyc
app/__pycache__/app.cpython-310.pyc
app/models/__pycache__/bracket_model.cpython-310.pyc
app/models/__pycache__/bracket_model.cpython-310.pyc
